:root {
    --vscode-font-family: system-ui, "Ubuntu", "Droid Sans", sans-serif;
    --vscode-font-weight: normal;
    --vscode-font-size: 13px;
    --vscode-editor-font-family: 'Kodama', 'monospace', monospace;
    --vscode-editor-font-weight: normal;
    --vscode-editor-font-size: 16px;
    --text-link-decoration: none;
    --vscode-foreground: #4c4f69;
    --vscode-disabledForeground: #6c6f85;
    --vscode-errorForeground: #d20f39;
    --vscode-descriptionForeground: #4c4f69;
    --vscode-icon-foreground: #8839ef;
    --vscode-focusBorder: #8839ef;
    --vscode-selection-background: rgba(136, 57, 239, 0.4);
    --vscode-textLink-foreground: #1e66f5;
    --vscode-textLink-activeForeground: #04a5e5;
    --vscode-textSeparator-foreground: #8839ef;
    --vscode-textPreformat-foreground: #4c4f69;
    --vscode-textPreformat-background: rgba(0, 0, 0, 0.1);
    --vscode-textBlockQuote-background: #e6e9ef;
    --vscode-textBlockQuote-border: #dce0e8;
    --vscode-textCodeBlock-background: #e6e9ef;
    --vscode-sash-hoverBorder: #8839ef;
    --vscode-badge-background: #bcc0cc;
    --vscode-badge-foreground: #4c4f69;
    --vscode-activityWarningBadge-foreground: #ffffff;
    --vscode-activityWarningBadge-background: #bf8803;
    --vscode-activityErrorBadge-foreground: #ffffff;
    --vscode-activityErrorBadge-background: #e51400;
    --vscode-scrollbar-shadow: #dce0e8;
    --vscode-scrollbarSlider-background: rgba(172, 176, 190, 0.5);
    --vscode-scrollbarSlider-hoverBackground: #9ca0b0;
    --vscode-scrollbarSlider-activeBackground: rgba(204, 208, 218, 0.4);
    --vscode-progressBar-background: #8839ef;
    --vscode-chart-line: #236b8e;
    --vscode-chart-axis: rgba(0, 0, 0, 0.6);
    --vscode-chart-guide: rgba(0, 0, 0, 0.2);
    --vscode-editor-background: #eff1f5;
    --vscode-editor-foreground: #4c4f69;
    --vscode-editorStickyScroll-background: #eff1f5;
    --vscode-editorStickyScrollGutter-background: #eff1f5;
    --vscode-editorStickyScrollHover-background: #ccd0da;
    --vscode-editorStickyScroll-shadow: #dce0e8;
    --vscode-editorWidget-background: #e6e9ef;
    --vscode-editorWidget-foreground: #4c4f69;
    --vscode-editorWidget-border: #c8c8c8;
    --vscode-editorWidget-resizeBorder: #acb0be;
    --vscode-editorError-background: rgba(0, 0, 0, 0);
    --vscode-editorError-foreground: #d20f39;
    --vscode-editorError-border: rgba(0, 0, 0, 0);
    --vscode-editorWarning-background: rgba(0, 0, 0, 0);
    --vscode-editorWarning-foreground: #fe640b;
    --vscode-editorWarning-border: rgba(0, 0, 0, 0);
    --vscode-editorInfo-background: rgba(0, 0, 0, 0);
    --vscode-editorInfo-foreground: #1e66f5;
    --vscode-editorInfo-border: rgba(0, 0, 0, 0);
    --vscode-editorHint-foreground: #6c6c6c;
    --vscode-editorLink-activeForeground: #8839ef;
    --vscode-editor-selectionBackground: rgba(124, 127, 147, 0.3);
    --vscode-editor-inactiveSelectionBackground: rgba(124, 127, 147, 0.15);
    --vscode-editor-selectionHighlightBackground: rgba(124, 127, 147, 0.2);
    --vscode-editor-selectionHighlightBorder: rgba(124, 127, 147, 0.2);
    --vscode-editor-compositionBorder: #000000;
    --vscode-editor-findMatchBackground: #e6adbd;
    --vscode-editor-findMatchHighlightBackground: #a9daf0;
    --vscode-editor-findRangeHighlightBackground: #a9daf0;
    --vscode-editor-findMatchBorder: rgba(210, 15, 57, 0.2);
    --vscode-editor-findMatchHighlightBorder: rgba(4, 165, 229, 0.2);
    --vscode-editor-findRangeHighlightBorder: rgba(4, 165, 229, 0.2);
    --vscode-editor-hoverHighlightBackground: rgba(4, 165, 229, 0.25);
    --vscode-editorHoverWidget-background: #e6e9ef;
    --vscode-editorHoverWidget-foreground: #4c4f69;
    --vscode-editorHoverWidget-border: #acb0be;
    --vscode-editorHoverWidget-statusBarBackground: #d8dde6;
    --vscode-editorInlayHint-foreground: #acb0be;
    --vscode-editorInlayHint-background: rgba(230, 233, 239, 0.75);
    --vscode-editorInlayHint-typeForeground: #5c5f77;
    --vscode-editorInlayHint-typeBackground: rgba(230, 233, 239, 0.75);
    --vscode-editorInlayHint-parameterForeground: #6c6f85;
    --vscode-editorInlayHint-parameterBackground: rgba(230, 233, 239, 0.75);
    --vscode-editorLightBulb-foreground: #df8e1d;
    --vscode-editorLightBulbAutoFix-foreground: #007acc;
    --vscode-editorLightBulbAi-foreground: #df8e1d;
    --vscode-editor-snippetTabstopHighlightBackground: rgba(10, 50, 100, 0.2);
    --vscode-editor-snippetFinalTabstopHighlightBorder: rgba(10, 50, 100, 0.5);
    --vscode-diffEditor-insertedTextBackground: rgba(64, 160, 43, 0.2);
    --vscode-diffEditor-removedTextBackground: rgba(210, 15, 57, 0.2);
    --vscode-diffEditor-insertedLineBackground: rgba(64, 160, 43, 0.15);
    --vscode-diffEditor-removedLineBackground: rgba(210, 15, 57, 0.15);
    --vscode-diffEditorOverview-insertedForeground: rgba(64, 160, 43, 0.8);
    --vscode-diffEditorOverview-removedForeground: rgba(210, 15, 57, 0.8);
    --vscode-diffEditor-border: #acb0be;
    --vscode-diffEditor-diagonalFill: rgba(172, 176, 190, 0.6);
    --vscode-diffEditor-unchangedRegionBackground: #e6e9ef;
    --vscode-diffEditor-unchangedRegionForeground: #4c4f69;
    --vscode-diffEditor-unchangedCodeBackground: rgba(184, 184, 184, 0.16);
    --vscode-widget-shadow: rgba(230, 233, 239, 0.5);
    --vscode-toolbar-hoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-toolbar-activeBackground: rgba(166, 166, 166, 0.31);
    --vscode-breadcrumb-foreground: rgba(76, 79, 105, 0.8);
    --vscode-breadcrumb-background: #eff1f5;
    --vscode-breadcrumb-focusForeground: #8839ef;
    --vscode-breadcrumb-activeSelectionForeground: #8839ef;
    --vscode-breadcrumbPicker-background: #e6e9ef;
    --vscode-merge-currentHeaderBackground: rgba(64, 160, 43, 0.4);
    --vscode-merge-currentContentBackground: rgba(64, 160, 43, 0.2);
    --vscode-merge-incomingHeaderBackground: rgba(30, 102, 245, 0.4);
    --vscode-merge-incomingContentBackground: rgba(30, 102, 245, 0.2);
    --vscode-merge-commonHeaderBackground: #acb0be;
    --vscode-merge-commonContentBackground: #bcc0cc;
    --vscode-editorOverviewRuler-currentContentForeground: rgba(64, 160, 43, 0.4);
    --vscode-editorOverviewRuler-incomingContentForeground: rgba(30, 102, 245, 0.4);
    --vscode-editorOverviewRuler-commonContentForeground: #acb0be;
    --vscode-editorOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-editorOverviewRuler-selectionHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-problemsErrorIcon-foreground: #d20f39;
    --vscode-problemsWarningIcon-foreground: #fe640b;
    --vscode-problemsInfoIcon-foreground: #1e66f5;
    --vscode-minimap-findMatchHighlight: rgba(4, 165, 229, 0.3);
    --vscode-minimap-selectionOccurrenceHighlight: rgba(172, 176, 190, 0.75);
    --vscode-minimap-selectionHighlight: rgba(172, 176, 190, 0.75);
    --vscode-minimap-infoHighlight: #1e66f5;
    --vscode-minimap-warningHighlight: rgba(254, 100, 11, 0.75);
    --vscode-minimap-errorHighlight: rgba(210, 15, 57, 0.75);
    --vscode-minimap-background: rgba(230, 233, 239, 0.5);
    --vscode-minimap-foregroundOpacity: #000000;
    --vscode-minimapSlider-background: rgba(136, 57, 239, 0.2);
    --vscode-minimapSlider-hoverBackground: rgba(136, 57, 239, 0.4);
    --vscode-minimapSlider-activeBackground: rgba(136, 57, 239, 0.6);
    --vscode-charts-foreground: #4c4f69;
    --vscode-charts-lines: #5c5f77;
    --vscode-charts-red: #d20f39;
    --vscode-charts-blue: #1e66f5;
    --vscode-charts-yellow: #df8e1d;
    --vscode-charts-orange: #fe640b;
    --vscode-charts-green: #40a02b;
    --vscode-charts-purple: #8839ef;
    --vscode-input-background: #ccd0da;
    --vscode-input-foreground: #4c4f69;
    --vscode-input-border: rgba(0, 0, 0, 0);
    --vscode-inputOption-activeBorder: #8839ef;
    --vscode-inputOption-hoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-inputOption-activeBackground: #acb0be;
    --vscode-inputOption-activeForeground: #4c4f69;
    --vscode-input-placeholderForeground: rgba(76, 79, 105, 0.45);
    --vscode-inputValidation-infoBackground: #1e66f5;
    --vscode-inputValidation-infoForeground: #dce0e8;
    --vscode-inputValidation-infoBorder: rgba(220, 224, 232, 0.2);
    --vscode-inputValidation-warningBackground: #fe640b;
    --vscode-inputValidation-warningForeground: #dce0e8;
    --vscode-inputValidation-warningBorder: rgba(220, 224, 232, 0.2);
    --vscode-inputValidation-errorBackground: #d20f39;
    --vscode-inputValidation-errorForeground: #dce0e8;
    --vscode-inputValidation-errorBorder: rgba(220, 224, 232, 0.2);
    --vscode-dropdown-background: #e6e9ef;
    --vscode-dropdown-listBackground: #acb0be;
    --vscode-dropdown-foreground: #4c4f69;
    --vscode-dropdown-border: #8839ef;
    --vscode-button-foreground: #dce0e8;
    --vscode-button-separator: rgba(0, 0, 0, 0);
    --vscode-button-background: #8839ef;
    --vscode-button-hoverBackground: #9c5af2;
    --vscode-button-border: rgba(0, 0, 0, 0);
    --vscode-button-secondaryForeground: #4c4f69;
    --vscode-button-secondaryBackground: #acb0be;
    --vscode-button-secondaryHoverBackground: #c0c3ce;
    --vscode-radio-activeForeground: #4c4f69;
    --vscode-radio-activeBackground: #acb0be;
    --vscode-radio-activeBorder: #8839ef;
    --vscode-radio-inactiveBorder: rgba(76, 79, 105, 0.2);
    --vscode-radio-inactiveHoverBackground: rgba(184, 184, 184, 0.31);
    --vscode-checkbox-background: #bcc0cc;
    --vscode-checkbox-selectBackground: #e6e9ef;
    --vscode-checkbox-foreground: #8839ef;
    --vscode-checkbox-border: rgba(0, 0, 0, 0);
    --vscode-checkbox-selectBorder: #8839ef;
    --vscode-checkbox-disabled\.background: #aa93d7;
    --vscode-checkbox-disabled\.foreground: #9965e3;
    --vscode-keybindingLabel-background: rgba(221, 221, 221, 0.4);
    --vscode-keybindingLabel-foreground: #555555;
    --vscode-keybindingLabel-border: rgba(204, 204, 204, 0.4);
    --vscode-keybindingLabel-bottomBorder: rgba(187, 187, 187, 0.4);
    --vscode-list-focusBackground: #ccd0da;
    --vscode-list-focusForeground: #4c4f69;
    --vscode-list-focusOutline: rgba(0, 0, 0, 0);
    --vscode-list-activeSelectionBackground: #ccd0da;
    --vscode-list-activeSelectionForeground: #4c4f69;
    --vscode-list-inactiveSelectionBackground: #ccd0da;
    --vscode-list-inactiveSelectionForeground: #4c4f69;
    --vscode-list-hoverBackground: rgba(204, 208, 218, 0.5);
    --vscode-list-hoverForeground: #4c4f69;
    --vscode-list-dropBackground: rgba(136, 57, 239, 0.2);
    --vscode-list-dropBetweenBackground: #8839ef;
    --vscode-list-highlightForeground: #8839ef;
    --vscode-list-focusHighlightForeground: #8839ef;
    --vscode-list-invalidItemForeground: #b89500;
    --vscode-list-errorForeground: #b01011;
    --vscode-list-warningForeground: #fe640b;
    --vscode-listFilterWidget-background: #bcc0cc;
    --vscode-listFilterWidget-outline: rgba(0, 0, 0, 0);
    --vscode-listFilterWidget-noMatchesOutline: #d20f39;
    --vscode-listFilterWidget-shadow: rgba(230, 233, 239, 0.5);
    --vscode-list-filterMatchBackground: #a9daf0;
    --vscode-list-filterMatchBorder: rgba(4, 165, 229, 0.2);
    --vscode-list-deemphasizedForeground: #8e8e90;
    --vscode-tree-indentGuidesStroke: #7c7f93;
    --vscode-tree-inactiveIndentGuidesStroke: #bcc0cc;
    --vscode-tree-tableColumnsBorder: rgba(97, 97, 97, 0.13);
    --vscode-tree-tableOddRowsBackground: rgba(76, 79, 105, 0.04);
    --vscode-editorActionList-background: #e6e9ef;
    --vscode-editorActionList-foreground: #4c4f69;
    --vscode-editorActionList-focusForeground: #4c4f69;
    --vscode-editorActionList-focusBackground: #ccd0da;
    --vscode-menu-border: rgba(239, 241, 245, 0.5);
    --vscode-menu-foreground: #4c4f69;
    --vscode-menu-background: #eff1f5;
    --vscode-menu-selectionForeground: #4c4f69;
    --vscode-menu-selectionBackground: #acb0be;
    --vscode-menu-selectionBorder: rgba(0, 0, 0, 0);
    --vscode-menu-separatorBackground: #acb0be;
    --vscode-quickInput-background: #e6e9ef;
    --vscode-quickInput-foreground: #4c4f69;
    --vscode-quickInputTitle-background: rgba(0, 0, 0, 0.06);
    --vscode-pickerGroup-foreground: #8839ef;
    --vscode-pickerGroup-border: #8839ef;
    --vscode-quickInputList-focusForeground: #4c4f69;
    --vscode-quickInputList-focusBackground: #ccd0da;
    --vscode-search-resultsInfoForeground: #4c4f69;
    --vscode-searchEditor-findMatchBackground: rgba(169, 218, 240, 0.66);
    --vscode-searchEditor-findMatchBorder: rgba(4, 165, 229, 0.13);
    --vscode-editor-lineHighlightBackground: rgba(76, 79, 105, 0.07);
    --vscode-editor-lineHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-rangeHighlightBackground: rgba(4, 165, 229, 0.25);
    --vscode-editor-rangeHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-symbolHighlightBackground: #a9daf0;
    --vscode-editorCursor-foreground: #dc8a78;
    --vscode-editorCursor-background: #eff1f5;
    --vscode-editorMultiCursor-primary\.foreground: #dc8a78;
    --vscode-editorMultiCursor-primary\.background: #eff1f5;
    --vscode-editorMultiCursor-secondary\.foreground: #dc8a78;
    --vscode-editorMultiCursor-secondary\.background: #eff1f5;
    --vscode-editorWhitespace-foreground: rgba(124, 127, 147, 0.4);
    --vscode-editorLineNumber-foreground: #8c8fa1;
    --vscode-editorIndentGuide-background: #bcc0cc;
    --vscode-editorIndentGuide-activeBackground: #acb0be;
    --vscode-editorIndentGuide-background1: #bcc0cc;
    --vscode-editorIndentGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground1: #acb0be;
    --vscode-editorIndentGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorIndentGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorActiveLineNumber-foreground: #0b216f;
    --vscode-editorLineNumber-activeForeground: #8839ef;
    --vscode-editorRuler-foreground: #acb0be;
    --vscode-editorCodeLens-foreground: #8c8fa1;
    --vscode-editorBracketMatch-background: rgba(124, 127, 147, 0.1);
    --vscode-editorBracketMatch-border: #7c7f93;
    --vscode-editorOverviewRuler-border: rgba(76, 79, 105, 0.07);
    --vscode-editorOverviewRuler-background: #e6e9ef;
    --vscode-editorGutter-background: #eff1f5;
    --vscode-editorUnnecessaryCode-opacity: rgba(0, 0, 0, 0.47);
    --vscode-editorGhostText-foreground: rgba(0, 0, 0, 0.47);
    --vscode-editorOverviewRuler-rangeHighlightForeground: rgba(0, 122, 204, 0.6);
    --vscode-editorOverviewRuler-errorForeground: rgba(255, 18, 18, 0.7);
    --vscode-editorOverviewRuler-warningForeground: #fe640b;
    --vscode-editorOverviewRuler-infoForeground: #1e66f5;
    --vscode-editorBracketHighlight-foreground1: #d20f39;
    --vscode-editorBracketHighlight-foreground2: #fe640b;
    --vscode-editorBracketHighlight-foreground3: #df8e1d;
    --vscode-editorBracketHighlight-foreground4: #40a02b;
    --vscode-editorBracketHighlight-foreground5: #209fb5;
    --vscode-editorBracketHighlight-foreground6: #8839ef;
    --vscode-editorBracketHighlight-unexpectedBracket\.foreground: #e64553;
    --vscode-editorBracketPairGuide-background1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-background6: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground1: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground2: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground3: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground4: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground5: rgba(0, 0, 0, 0);
    --vscode-editorBracketPairGuide-activeBackground6: rgba(0, 0, 0, 0);
    --vscode-editorUnicodeHighlight-border: #fe640b;
    --vscode-editorUnicodeHighlight-background: rgba(0, 0, 0, 0);
    --vscode-diffEditor-move\.border: rgba(139, 139, 139, 0.61);
    --vscode-diffEditor-moveActive\.border: #ffa500;
    --vscode-diffEditor-unchangedRegionShadow: rgba(115, 115, 115, 0.75);
    --vscode-editorOverviewRuler-bracketMatchForeground: #a0a0a0;
    --vscode-actionBar-toggledBackground: #acb0be;
    --vscode-symbolIcon-arrayForeground: #fe640b;
    --vscode-symbolIcon-booleanForeground: #8839ef;
    --vscode-symbolIcon-classForeground: #df8e1d;
    --vscode-symbolIcon-colorForeground: #ea76cb;
    --vscode-symbolIcon-constantForeground: #fe640b;
    --vscode-symbolIcon-constructorForeground: #7287fd;
    --vscode-symbolIcon-enumeratorForeground: #df8e1d;
    --vscode-symbolIcon-enumeratorMemberForeground: #df8e1d;
    --vscode-symbolIcon-eventForeground: #ea76cb;
    --vscode-symbolIcon-fieldForeground: #4c4f69;
    --vscode-symbolIcon-fileForeground: #8839ef;
    --vscode-symbolIcon-folderForeground: #8839ef;
    --vscode-symbolIcon-functionForeground: #1e66f5;
    --vscode-symbolIcon-interfaceForeground: #df8e1d;
    --vscode-symbolIcon-keyForeground: #179299;
    --vscode-symbolIcon-keywordForeground: #8839ef;
    --vscode-symbolIcon-methodForeground: #1e66f5;
    --vscode-symbolIcon-moduleForeground: #4c4f69;
    --vscode-symbolIcon-namespaceForeground: #df8e1d;
    --vscode-symbolIcon-nullForeground: #e64553;
    --vscode-symbolIcon-numberForeground: #fe640b;
    --vscode-symbolIcon-objectForeground: #df8e1d;
    --vscode-symbolIcon-operatorForeground: #179299;
    --vscode-symbolIcon-packageForeground: #dd7878;
    --vscode-symbolIcon-propertyForeground: #e64553;
    --vscode-symbolIcon-referenceForeground: #df8e1d;
    --vscode-symbolIcon-snippetForeground: #dd7878;
    --vscode-symbolIcon-stringForeground: #40a02b;
    --vscode-symbolIcon-structForeground: #179299;
    --vscode-symbolIcon-textForeground: #4c4f69;
    --vscode-symbolIcon-typeParameterForeground: #e64553;
    --vscode-symbolIcon-unitForeground: #4c4f69;
    --vscode-symbolIcon-variableForeground: #4c4f69;
    --vscode-peekViewTitle-background: #eff1f5;
    --vscode-peekViewTitleLabel-foreground: #4c4f69;
    --vscode-peekViewTitleDescription-foreground: rgba(92, 95, 119, 0.7);
    --vscode-peekView-border: #8839ef;
    --vscode-peekViewResult-background: #e6e9ef;
    --vscode-peekViewResult-lineForeground: #4c4f69;
    --vscode-peekViewResult-fileForeground: #4c4f69;
    --vscode-peekViewResult-selectionBackground: #ccd0da;
    --vscode-peekViewResult-selectionForeground: #4c4f69;
    --vscode-peekViewEditor-background: #e6e9ef;
    --vscode-peekViewEditorGutter-background: #e6e9ef;
    --vscode-peekViewEditorStickyScroll-background: #e6e9ef;
    --vscode-peekViewEditorStickyScrollGutter-background: #e6e9ef;
    --vscode-peekViewResult-matchHighlightBackground: rgba(4, 165, 229, 0.3);
    --vscode-peekViewEditor-matchHighlightBackground: rgba(4, 165, 229, 0.3);
    --vscode-peekViewEditor-matchHighlightBorder: rgba(0, 0, 0, 0);
    --vscode-editor-foldBackground: rgba(4, 165, 229, 0.25);
    --vscode-editor-foldPlaceholderForeground: #808080;
    --vscode-editorGutter-foldingControlForeground: #7c7f93;
    --vscode-editorSuggestWidget-background: #e6e9ef;
    --vscode-editorSuggestWidget-border: #acb0be;
    --vscode-editorSuggestWidget-foreground: #4c4f69;
    --vscode-editorSuggestWidget-selectedForeground: #4c4f69;
    --vscode-editorSuggestWidget-selectedBackground: #ccd0da;
    --vscode-editorSuggestWidget-highlightForeground: #8839ef;
    --vscode-editorSuggestWidget-focusHighlightForeground: #8839ef;
    --vscode-editorSuggestWidgetStatus-foreground: rgba(76, 79, 105, 0.5);
    --vscode-inlineEdit-originalBackground: rgba(210, 15, 57, 0.04);
    --vscode-inlineEdit-modifiedBackground: rgba(64, 160, 43, 0.06);
    --vscode-inlineEdit-originalChangedLineBackground: rgba(210, 15, 57, 0.16);
    --vscode-inlineEdit-originalChangedTextBackground: rgba(210, 15, 57, 0.16);
    --vscode-inlineEdit-modifiedChangedLineBackground: rgba(64, 160, 43, 0.1);
    --vscode-inlineEdit-modifiedChangedTextBackground: rgba(64, 160, 43, 0.14);
    --vscode-inlineEdit-gutterIndicator\.primaryForeground: #dce0e8;
    --vscode-inlineEdit-gutterIndicator\.primaryBorder: #8839ef;
    --vscode-inlineEdit-gutterIndicator\.primaryBackground: rgba(136, 57, 239, 0.5);
    --vscode-inlineEdit-gutterIndicator\.secondaryForeground: #4c4f69;
    --vscode-inlineEdit-gutterIndicator\.secondaryBorder: #acb0be;
    --vscode-inlineEdit-gutterIndicator\.secondaryBackground: #acb0be;
    --vscode-inlineEdit-gutterIndicator\.successfulForeground: #dce0e8;
    --vscode-inlineEdit-gutterIndicator\.successfulBorder: #8839ef;
    --vscode-inlineEdit-gutterIndicator\.successfulBackground: #8839ef;
    --vscode-inlineEdit-gutterIndicator\.background: rgba(95, 95, 95, 0.09);
    --vscode-inlineEdit-originalBorder: rgba(210, 15, 57, 0.2);
    --vscode-inlineEdit-modifiedBorder: rgba(26, 64, 17, 0.2);
    --vscode-inlineEdit-tabWillAcceptModifiedBorder: rgba(26, 64, 17, 0.2);
    --vscode-inlineEdit-tabWillAcceptOriginalBorder: rgba(210, 15, 57, 0.2);
    --vscode-editorMarkerNavigationError-background: #d20f39;
    --vscode-editorMarkerNavigationError-headerBackground: rgba(210, 15, 57, 0.1);
    --vscode-editorMarkerNavigationWarning-background: #fe640b;
    --vscode-editorMarkerNavigationWarning-headerBackground: rgba(254, 100, 11, 0.1);
    --vscode-editorMarkerNavigationInfo-background: #1e66f5;
    --vscode-editorMarkerNavigationInfo-headerBackground: rgba(30, 102, 245, 0.1);
    --vscode-editorMarkerNavigation-background: #e6e9ef;
    --vscode-editor-linkedEditingBackground: rgba(255, 0, 0, 0.3);
    --vscode-editor-wordHighlightBackground: rgba(124, 127, 147, 0.2);
    --vscode-editor-wordHighlightStrongBackground: rgba(30, 102, 245, 0.15);
    --vscode-editor-wordHighlightTextBackground: rgba(124, 127, 147, 0.2);
    --vscode-editorOverviewRuler-wordHighlightForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorOverviewRuler-wordHighlightStrongForeground: rgba(192, 160, 192, 0.8);
    --vscode-editorOverviewRuler-wordHighlightTextForeground: rgba(160, 160, 160, 0.8);
    --vscode-editorHoverWidget-highlightForeground: #8839ef;
    --vscode-editor-placeholder\.foreground: rgba(0, 0, 0, 0.47);
    --vscode-tab-activeBackground: #eff1f5;
    --vscode-tab-unfocusedActiveBackground: #e6e9ef;
    --vscode-tab-inactiveBackground: #e6e9ef;
    --vscode-tab-unfocusedInactiveBackground: #d6dbe5;
    --vscode-tab-activeForeground: #8839ef;
    --vscode-tab-inactiveForeground: #9ca0b0;
    --vscode-tab-unfocusedActiveForeground: rgba(136, 57, 239, 0.7);
    --vscode-tab-unfocusedInactiveForeground: rgba(156, 160, 176, 0.5);
    --vscode-tab-hoverBackground: #ffffff;
    --vscode-tab-unfocusedHoverBackground: rgba(255, 255, 255, 0.7);
    --vscode-tab-hoverForeground: #8839ef;
    --vscode-tab-unfocusedHoverForeground: rgba(136, 57, 239, 0.5);
    --vscode-tab-border: #e6e9ef;
    --vscode-tab-lastPinnedBorder: #8839ef;
    --vscode-tab-activeBorder: rgba(0, 0, 0, 0);
    --vscode-tab-unfocusedActiveBorder: rgba(0, 0, 0, 0);
    --vscode-tab-activeBorderTop: #8839ef;
    --vscode-tab-unfocusedActiveBorderTop: rgba(136, 57, 239, 0.3);
    --vscode-tab-selectedBorderTop: #8839ef;
    --vscode-tab-selectedBackground: #eff1f5;
    --vscode-tab-selectedForeground: #8839ef;
    --vscode-tab-hoverBorder: rgba(0, 0, 0, 0);
    --vscode-tab-unfocusedHoverBorder: rgba(0, 0, 0, 0);
    --vscode-tab-dragAndDropBorder: #8839ef;
    --vscode-tab-activeModifiedBorder: #df8e1d;
    --vscode-tab-inactiveModifiedBorder: rgba(223, 142, 29, 0.3);
    --vscode-tab-unfocusedActiveModifiedBorder: rgba(223, 142, 29, 0.7);
    --vscode-tab-unfocusedInactiveModifiedBorder: rgba(223, 142, 29, 0.15);
    --vscode-editorPane-background: #eff1f5;
    --vscode-editorGroup-emptyBackground: #eff1f5;
    --vscode-editorGroupHeader-tabsBackground: #dce0e8;
    --vscode-editorGroupHeader-noTabsBackground: #eff1f5;
    --vscode-editorGroup-border: #acb0be;
    --vscode-editorGroup-dropBackground: rgba(136, 57, 239, 0.2);
    --vscode-editorGroup-dropIntoPromptForeground: #4c4f69;
    --vscode-editorGroup-dropIntoPromptBackground: #e6e9ef;
    --vscode-sideBySideEditor-horizontalBorder: #acb0be;
    --vscode-sideBySideEditor-verticalBorder: #acb0be;
    --vscode-banner-background: #bcc0cc;
    --vscode-banner-foreground: #4c4f69;
    --vscode-banner-iconForeground: #4c4f69;
    --vscode-statusBar-foreground: #4c4f69;
    --vscode-statusBar-noFolderForeground: #4c4f69;
    --vscode-statusBar-background: #dce0e8;
    --vscode-statusBar-noFolderBackground: #dce0e8;
    --vscode-statusBar-border: rgba(0, 0, 0, 0);
    --vscode-statusBar-focusBorder: #4c4f69;
    --vscode-statusBar-noFolderBorder: rgba(0, 0, 0, 0);
    --vscode-statusBarItem-activeBackground: rgba(172, 176, 190, 0.4);
    --vscode-statusBarItem-focusBorder: #4c4f69;
    --vscode-statusBarItem-hoverBackground: rgba(172, 176, 190, 0.2);
    --vscode-statusBarItem-hoverForeground: #4c4f69;
    --vscode-statusBarItem-compactHoverBackground: rgba(255, 255, 255, 0.2);
    --vscode-statusBarItem-prominentForeground: #8839ef;
    --vscode-statusBarItem-prominentBackground: rgba(0, 0, 0, 0);
    --vscode-statusBarItem-prominentHoverForeground: #4c4f69;
    --vscode-statusBarItem-prominentHoverBackground: rgba(172, 176, 190, 0.2);
    --vscode-statusBarItem-errorBackground: rgba(0, 0, 0, 0);
    --vscode-statusBarItem-errorForeground: #d20f39;
    --vscode-statusBarItem-errorHoverForeground: #4c4f69;
    --vscode-statusBarItem-errorHoverBackground: rgba(172, 176, 190, 0.2);
    --vscode-statusBarItem-warningBackground: rgba(0, 0, 0, 0);
    --vscode-statusBarItem-warningForeground: #fe640b;
    --vscode-statusBarItem-warningHoverForeground: #4c4f69;
    --vscode-statusBarItem-warningHoverBackground: rgba(172, 176, 190, 0.2);
    --vscode-activityBar-background: #dce0e8;
    --vscode-activityBar-foreground: #8839ef;
    --vscode-activityBar-inactiveForeground: #9ca0b0;
    --vscode-activityBar-border: rgba(0, 0, 0, 0);
    --vscode-activityBar-activeBorder: rgba(0, 0, 0, 0);
    --vscode-activityBar-activeFocusBorder: rgba(0, 0, 0, 0);
    --vscode-activityBar-activeBackground: rgba(0, 0, 0, 0);
    --vscode-activityBar-dropBorder: rgba(136, 57, 239, 0.2);
    --vscode-activityBarBadge-background: #8839ef;
    --vscode-activityBarBadge-foreground: #dce0e8;
    --vscode-activityBarTop-foreground: #8839ef;
    --vscode-activityBarTop-activeBorder: rgba(0, 0, 0, 0);
    --vscode-activityBarTop-inactiveForeground: #9ca0b0;
    --vscode-activityBarTop-dropBorder: rgba(136, 57, 239, 0.2);
    --vscode-panel-background: #eff1f5;
    --vscode-panel-border: #acb0be;
    --vscode-panelTitle-activeForeground: #4c4f69;
    --vscode-panelTitle-inactiveForeground: #6c6f85;
    --vscode-panelTitle-activeBorder: #8839ef;
    --vscode-panelTitleBadge-background: #8839ef;
    --vscode-panelTitleBadge-foreground: #dce0e8;
    --vscode-panelInput-border: #dddddd;
    --vscode-panel-dropBorder: #4c4f69;
    --vscode-panelSection-dropBackground: rgba(136, 57, 239, 0.2);
    --vscode-panelSectionHeader-background: rgba(128, 128, 128, 0.2);
    --vscode-panelSection-border: #acb0be;
    --vscode-panelStickyScroll-background: #eff1f5;
    --vscode-panelStickyScroll-shadow: #dce0e8;
    --vscode-profileBadge-background: #c4c4c4;
    --vscode-profileBadge-foreground: #333333;
    --vscode-statusBarItem-remoteBackground: #1e66f5;
    --vscode-statusBarItem-remoteForeground: #dce0e8;
    --vscode-statusBarItem-remoteHoverForeground: #4c4f69;
    --vscode-statusBarItem-remoteHoverBackground: rgba(172, 176, 190, 0.2);
    --vscode-statusBarItem-offlineBackground: #6c1717;
    --vscode-statusBarItem-offlineForeground: #dce0e8;
    --vscode-statusBarItem-offlineHoverForeground: #4c4f69;
    --vscode-statusBarItem-offlineHoverBackground: rgba(172, 176, 190, 0.2);
    --vscode-extensionBadge-remoteBackground: #1e66f5;
    --vscode-extensionBadge-remoteForeground: #dce0e8;
    --vscode-sideBar-background: #e6e9ef;
    --vscode-sideBar-foreground: #4c4f69;
    --vscode-sideBar-border: rgba(0, 0, 0, 0);
    --vscode-sideBarTitle-background: #e6e9ef;
    --vscode-sideBarTitle-foreground: #8839ef;
    --vscode-sideBar-dropBackground: rgba(136, 57, 239, 0.2);
    --vscode-sideBarSectionHeader-background: #e6e9ef;
    --vscode-sideBarSectionHeader-foreground: #4c4f69;
    --vscode-sideBarStickyScroll-background: #e6e9ef;
    --vscode-sideBarStickyScroll-shadow: #dce0e8;
    --vscode-titleBar-activeForeground: #4c4f69;
    --vscode-titleBar-inactiveForeground: rgba(76, 79, 105, 0.5);
    --vscode-titleBar-activeBackground: #dce0e8;
    --vscode-titleBar-inactiveBackground: #dce0e8;
    --vscode-titleBar-border: rgba(0, 0, 0, 0);
    --vscode-menubar-selectionForeground: #4c4f69;
    --vscode-menubar-selectionBackground: #bcc0cc;
    --vscode-commandCenter-foreground: #5c5f77;
    --vscode-commandCenter-activeForeground: #8839ef;
    --vscode-commandCenter-inactiveForeground: #5c5f77;
    --vscode-commandCenter-background: #e6e9ef;
    --vscode-commandCenter-activeBackground: rgba(172, 176, 190, 0.2);
    --vscode-commandCenter-border: rgba(0, 0, 0, 0);
    --vscode-commandCenter-activeBorder: #8839ef;
    --vscode-commandCenter-inactiveBorder: rgba(0, 0, 0, 0);
    --vscode-notificationCenter-border: #8839ef;
    --vscode-notificationToast-border: #8839ef;
    --vscode-notifications-foreground: #4c4f69;
    --vscode-notifications-background: #e6e9ef;
    --vscode-notificationLink-foreground: #1e66f5;
    --vscode-notificationCenterHeader-foreground: #4c4f69;
    --vscode-notificationCenterHeader-background: #e6e9ef;
    --vscode-notifications-border: #8839ef;
    --vscode-notificationsErrorIcon-foreground: #d20f39;
    --vscode-notificationsWarningIcon-foreground: #fe640b;
    --vscode-notificationsInfoIcon-foreground: #1e66f5;
    --vscode-window-activeBorder: rgba(0, 0, 0, 0);
    --vscode-window-inactiveBorder: rgba(0, 0, 0, 0);
    --vscode-editorGutter-modifiedBackground: #df8e1d;
    --vscode-editorGutter-modifiedSecondaryBackground: #f6dbb7;
    --vscode-editorGutter-addedBackground: #40a02b;
    --vscode-editorGutter-addedSecondaryBackground: #8fdc7d;
    --vscode-editorGutter-deletedBackground: #d20f39;
    --vscode-editorGutter-deletedSecondaryBackground: #f1345d;
    --vscode-minimapGutter-modifiedBackground: rgba(223, 142, 29, 0.75);
    --vscode-minimapGutter-addedBackground: rgba(64, 160, 43, 0.75);
    --vscode-minimapGutter-deletedBackground: rgba(210, 15, 57, 0.75);
    --vscode-editorOverviewRuler-modifiedForeground: #df8e1d;
    --vscode-editorOverviewRuler-addedForeground: rgba(64, 160, 43, 0.6);
    --vscode-editorOverviewRuler-deletedForeground: rgba(210, 15, 57, 0.6);
    --vscode-editorGutter-itemGlyphForeground: #4c4f69;
    --vscode-editorGutter-itemBackground: #c0c5d1;
    --vscode-terminal-foreground: #4c4f69;
    --vscode-terminalCursor-foreground: #dc8a78;
    --vscode-terminalCursor-background: #eff1f5;
    --vscode-terminal-selectionBackground: #acb0be;
    --vscode-terminal-inactiveSelectionBackground: rgba(172, 176, 190, 0.5);
    --vscode-terminalCommandDecoration-defaultBackground: #acb0be;
    --vscode-terminalCommandDecoration-successBackground: #40a02b;
    --vscode-terminalCommandDecoration-errorBackground: #d20f39;
    --vscode-terminalOverviewRuler-cursorForeground: rgba(160, 160, 160, 0.8);
    --vscode-terminal-border: #acb0be;
    --vscode-terminalOverviewRuler-border: rgba(76, 79, 105, 0.07);
    --vscode-terminal-findMatchBackground: #e6adbd;
    --vscode-terminal-hoverHighlightBackground: rgba(4, 165, 229, 0.13);
    --vscode-terminal-findMatchHighlightBackground: #a9daf0;
    --vscode-terminalOverviewRuler-findMatchForeground: rgba(209, 134, 22, 0.49);
    --vscode-terminal-dropBackground: rgba(136, 57, 239, 0.2);
    --vscode-terminal-tab\.activeBorder: #8839ef;
    --vscode-terminal-initialHintForeground: rgba(0, 0, 0, 0.47);
    --vscode-scmGraph-historyItemRefColor: #1e66f5;
    --vscode-scmGraph-historyItemRemoteRefColor: #8839ef;
    --vscode-scmGraph-historyItemBaseRefColor: #fe640b;
    --vscode-scmGraph-historyItemHoverDefaultLabelForeground: #4c4f69;
    --vscode-scmGraph-historyItemHoverDefaultLabelBackground: #bcc0cc;
    --vscode-scmGraph-historyItemHoverLabelForeground: #dce0e8;
    --vscode-scmGraph-historyItemHoverAdditionsForeground: #587c0c;
    --vscode-scmGraph-historyItemHoverDeletionsForeground: #ad0707;
    --vscode-scmGraph-foreground1: #df8e1d;
    --vscode-scmGraph-foreground2: #d20f39;
    --vscode-scmGraph-foreground3: #40a02b;
    --vscode-scmGraph-foreground4: #8839ef;
    --vscode-scmGraph-foreground5: #179299;
    --vscode-commentsView-resolvedIcon: #6c6f85;
    --vscode-commentsView-unresolvedIcon: rgba(0, 0, 0, 0);
    --vscode-editorCommentsWidget-replyInputBackground: #eff1f5;
    --vscode-editorCommentsWidget-resolvedBorder: #6c6f85;
    --vscode-editorCommentsWidget-unresolvedBorder: rgba(0, 0, 0, 0);
    --vscode-editorCommentsWidget-rangeBackground: rgba(0, 0, 0, 0);
    --vscode-editorCommentsWidget-rangeActiveBackground: rgba(0, 0, 0, 0);
    --vscode-editorGutter-commentRangeForeground: #ccd0da;
    --vscode-editorOverviewRuler-commentForeground: #ccd0da;
    --vscode-editorOverviewRuler-commentUnresolvedForeground: #ccd0da;
    --vscode-editorGutter-commentGlyphForeground: #8839ef;
    --vscode-editorGutter-commentUnresolvedGlyphForeground: #8839ef;
    --vscode-ports-iconRunningProcessForeground: #1e66f5;
    --vscode-editorWatermark-foreground: rgba(76, 79, 105, 0.68);
    --vscode-settings-headerForeground: #4c4f69;
    --vscode-settings-settingsHeaderHoverForeground: rgba(76, 79, 105, 0.7);
    --vscode-settings-modifiedItemIndicator: #8839ef;
    --vscode-settings-headerBorder: #acb0be;
    --vscode-settings-sashBorder: #acb0be;
    --vscode-settings-dropdownBackground: #bcc0cc;
    --vscode-settings-dropdownForeground: #4c4f69;
    --vscode-settings-dropdownBorder: #8839ef;
    --vscode-settings-dropdownListBorder: rgba(0, 0, 0, 0);
    --vscode-settings-checkboxBackground: #bcc0cc;
    --vscode-settings-checkboxForeground: #8839ef;
    --vscode-settings-checkboxBorder: rgba(0, 0, 0, 0);
    --vscode-settings-textInputBackground: #bcc0cc;
    --vscode-settings-textInputForeground: #4c4f69;
    --vscode-settings-textInputBorder: rgba(0, 0, 0, 0);
    --vscode-settings-numberInputBackground: #bcc0cc;
    --vscode-settings-numberInputForeground: #4c4f69;
    --vscode-settings-numberInputBorder: rgba(0, 0, 0, 0);
    --vscode-settings-focusedRowBackground: rgba(172, 176, 190, 0.2);
    --vscode-settings-rowHoverBackground: rgba(204, 208, 218, 0.15);
    --vscode-settings-focusedRowBorder: #8839ef;
    --vscode-keybindingTable-headerBackground: rgba(76, 79, 105, 0.04);
    --vscode-keybindingTable-rowsBackground: rgba(76, 79, 105, 0.04);
    --vscode-extensionButton-background: #8839ef;
    --vscode-extensionButton-foreground: #dce0e8;
    --vscode-extensionButton-hoverBackground: #9c5af2;
    --vscode-extensionButton-separator: #eff1f5;
    --vscode-extensionButton-prominentBackground: #8839ef;
    --vscode-extensionButton-prominentForeground: #dce0e8;
    --vscode-extensionButton-prominentHoverBackground: #9c5af2;
    --vscode-debugToolBar-background: #dce0e8;
    --vscode-debugToolBar-border: rgba(0, 0, 0, 0);
    --vscode-debugIcon-startForeground: #40a02b;
    --vscode-inlineChat-foreground: #4c4f69;
    --vscode-inlineChat-background: #e6e9ef;
    --vscode-inlineChat-border: #c8c8c8;
    --vscode-inlineChat-shadow: rgba(230, 233, 239, 0.5);
    --vscode-inlineChatInput-border: #c8c8c8;
    --vscode-inlineChatInput-focusBorder: #8839ef;
    --vscode-inlineChatInput-placeholderForeground: rgba(76, 79, 105, 0.45);
    --vscode-inlineChatInput-background: #ccd0da;
    --vscode-inlineChatDiff-inserted: rgba(64, 160, 43, 0.1);
    --vscode-editorOverviewRuler-inlineChatInserted: rgba(64, 160, 43, 0.16);
    --vscode-editorMinimap-inlineChatInserted: rgba(64, 160, 43, 0.16);
    --vscode-inlineChatDiff-removed: rgba(210, 15, 57, 0.1);
    --vscode-editorOverviewRuler-inlineChatRemoved: rgba(210, 15, 57, 0.16);
    --vscode-extensionIcon-verifiedForeground: #40a02b;
    --vscode-extensionIcon-starForeground: #df8e1d;
    --vscode-extensionIcon-preReleaseForeground: #acb0be;
    --vscode-extensionIcon-sponsorForeground: #ea76cb;
    --vscode-extensionIcon-privateForeground: rgba(0, 0, 0, 0.38);
    --vscode-chat-requestBorder: rgba(0, 0, 0, 0.1);
    --vscode-chat-requestBackground: rgba(239, 241, 245, 0.62);
    --vscode-chat-slashCommandBackground: rgba(173, 206, 255, 0.48);
    --vscode-chat-slashCommandForeground: #26569e;
    --vscode-chat-avatarBackground: #f2f2f2;
    --vscode-chat-avatarForeground: #4c4f69;
    --vscode-chat-editedFileForeground: #895503;
    --vscode-chat-requestCodeBorder: rgba(14, 99, 156, 0.25);
    --vscode-chat-requestBubbleBackground: rgba(124, 127, 147, 0.09);
    --vscode-chat-requestBubbleHoverBackground: rgba(124, 127, 147, 0.3);
    --vscode-chat-checkpointSeparator: #a9a9a9;
    --vscode-chat-linesAddedForeground: #107c10;
    --vscode-chat-linesRemovedForeground: #bc2f32;
    --vscode-notebook-cellBorderColor: #ccd0da;
    --vscode-notebook-focusedEditorBorder: #8839ef;
    --vscode-notebookStatusSuccessIcon-foreground: #40a02b;
    --vscode-notebookEditorOverviewRuler-runningCellForeground: #40a02b;
    --vscode-notebookStatusErrorIcon-foreground: #d20f39;
    --vscode-notebookStatusRunningIcon-foreground: #4c4f69;
    --vscode-notebook-cellToolbarSeparator: rgba(128, 128, 128, 0.35);
    --vscode-notebook-selectedCellBackground: #ccd0da;
    --vscode-notebook-selectedCellBorder: #ccd0da;
    --vscode-notebook-focusedCellBorder: #8839ef;
    --vscode-notebook-inactiveFocusedCellBorder: #ccd0da;
    --vscode-notebook-cellStatusBarItemHoverBackground: rgba(0, 0, 0, 0.08);
    --vscode-notebook-cellInsertionIndicator: #8839ef;
    --vscode-notebookScrollbarSlider-background: rgba(172, 176, 190, 0.5);
    --vscode-notebookScrollbarSlider-hoverBackground: #9ca0b0;
    --vscode-notebookScrollbarSlider-activeBackground: rgba(204, 208, 218, 0.4);
    --vscode-notebook-symbolHighlightBackground: rgba(253, 255, 0, 0.2);
    --vscode-notebook-cellEditorBackground: #e6e9ef;
    --vscode-notebook-editorBackground: #eff1f5;
    --vscode-debugExceptionWidget-border: #8839ef;
    --vscode-debugExceptionWidget-background: #dce0e8;
    --vscode-editor-inlineValuesForeground: rgba(0, 0, 0, 0.5);
    --vscode-editor-inlineValuesBackground: rgba(255, 200, 0, 0.2);
    --vscode-debugIcon-breakpointForeground: #d20f39;
    --vscode-debugIcon-breakpointDisabledForeground: rgba(210, 15, 57, 0.6);
    --vscode-debugIcon-breakpointUnverifiedForeground: #bf607c;
    --vscode-debugIcon-breakpointCurrentStackframeForeground: #acb0be;
    --vscode-debugIcon-breakpointStackframeForeground: #acb0be;
    --vscode-editor-stackFrameHighlightBackground: rgba(223, 142, 29, 0.15);
    --vscode-editor-focusedStackFrameHighlightBackground: rgba(64, 160, 43, 0.15);
    --vscode-multiDiffEditor-headerBackground: #e6e9ef;
    --vscode-multiDiffEditor-background: #eff1f5;
    --vscode-multiDiffEditor-border: #cccccc;
    --vscode-minimap-chatEditHighlight: rgba(239, 241, 245, 0.6);
    --vscode-gauge-foreground: rgba(220, 224, 232, 0.2);
    --vscode-gauge-background: rgba(220, 224, 232, 0.06);
    --vscode-gauge-warningForeground: rgba(220, 224, 232, 0.2);
    --vscode-gauge-warningBackground: rgba(220, 224, 232, 0.06);
    --vscode-gauge-errorForeground: rgba(220, 224, 232, 0.2);
    --vscode-gauge-errorBackground: rgba(220, 224, 232, 0.06);
    --vscode-mcpIcon-starForeground: #df6100;
    --vscode-interactive-activeCodeBorder: #8839ef;
    --vscode-interactive-inactiveCodeBorder: #ccd0da;
    --vscode-testing-iconFailed: #d20f39;
    --vscode-testing-iconErrored: #d20f39;
    --vscode-testing-iconPassed: #40a02b;
    --vscode-testing-runAction: #8839ef;
    --vscode-testing-iconQueued: #1e66f5;
    --vscode-testing-iconUnset: #4c4f69;
    --vscode-testing-iconSkipped: #6c6f85;
    --vscode-testing-peekBorder: #8839ef;
    --vscode-testing-messagePeekBorder: #8839ef;
    --vscode-testing-peekHeaderBackground: #acb0be;
    --vscode-testing-messagePeekHeaderBackground: #acb0be;
    --vscode-testing-coveredBackground: rgba(64, 160, 43, 0.3);
    --vscode-testing-coveredBorder: rgba(0, 0, 0, 0);
    --vscode-testing-coveredGutterBackground: rgba(64, 160, 43, 0.3);
    --vscode-testing-uncoveredBranchBackground: rgba(210, 15, 57, 0.2);
    --vscode-testing-uncoveredBackground: rgba(210, 15, 57, 0.2);
    --vscode-testing-uncoveredBorder: rgba(0, 0, 0, 0);
    --vscode-testing-uncoveredGutterBackground: rgba(210, 15, 57, 0.25);
    --vscode-testing-coverCountBadgeBackground: rgba(0, 0, 0, 0);
    --vscode-testing-coverCountBadgeForeground: #8839ef;
    --vscode-testing-message\.error\.badgeBackground: #e51400;
    --vscode-testing-message\.error\.badgeBorder: #e51400;
    --vscode-testing-message\.error\.badgeForeground: #ffffff;
    --vscode-testing-message\.error\.lineBackground: rgba(210, 15, 57, 0.15);
    --vscode-testing-message\.info\.decorationForeground: rgba(64, 160, 43, 0.8);
    --vscode-testing-message\.info\.lineBackground: rgba(64, 160, 43, 0.15);
    --vscode-testing-iconErrored\.retired: #d20f39;
    --vscode-testing-iconFailed\.retired: #d20f39;
    --vscode-testing-iconPassed\.retired: #40a02b;
    --vscode-testing-iconQueued\.retired: #1e66f5;
    --vscode-testing-iconUnset\.retired: #4c4f69;
    --vscode-testing-iconSkipped\.retired: #6c6f85;
    --vscode-searchEditor-textInputBorder: rgba(0, 0, 0, 0);
    --vscode-statusBar-debuggingBackground: #fe640b;
    --vscode-statusBar-debuggingForeground: #dce0e8;
    --vscode-statusBar-debuggingBorder: rgba(0, 0, 0, 0);
    --vscode-commandCenter-debuggingBackground: rgba(254, 100, 11, 0.26);
    --vscode-debugTokenExpression-name: #9b46b0;
    --vscode-debugTokenExpression-type: #4a90e2;
    --vscode-debugTokenExpression-value: rgba(108, 108, 108, 0.8);
    --vscode-debugTokenExpression-string: #40a02b;
    --vscode-debugTokenExpression-boolean: #8839ef;
    --vscode-debugTokenExpression-number: #fe640b;
    --vscode-debugTokenExpression-error: #d20f39;
    --vscode-debugView-exceptionLabelForeground: #ffffff;
    --vscode-debugView-exceptionLabelBackground: #a31515;
    --vscode-debugView-stateLabelForeground: #4c4f69;
    --vscode-debugView-stateLabelBackground: rgba(136, 136, 136, 0.27);
    --vscode-debugView-valueChangedHighlight: #569cd6;
    --vscode-debugConsole-infoForeground: #1e66f5;
    --vscode-debugConsole-warningForeground: #fe640b;
    --vscode-debugConsole-errorForeground: #d20f39;
    --vscode-debugConsole-sourceForeground: #dc8a78;
    --vscode-debugConsoleInputIcon-foreground: #4c4f69;
    --vscode-debugIcon-pauseForeground: #1e66f5;
    --vscode-debugIcon-stopForeground: #d20f39;
    --vscode-debugIcon-disconnectForeground: #acb0be;
    --vscode-debugIcon-restartForeground: #179299;
    --vscode-debugIcon-stepOverForeground: #8839ef;
    --vscode-debugIcon-stepIntoForeground: #4c4f69;
    --vscode-debugIcon-stepOutForeground: #4c4f69;
    --vscode-debugIcon-continueForeground: #40a02b;
    --vscode-debugIcon-stepBackForeground: #acb0be;
    --vscode-mergeEditor-change\.background: rgba(155, 185, 85, 0.2);
    --vscode-mergeEditor-change\.word\.background: rgba(156, 204, 44, 0.4);
    --vscode-mergeEditor-changeBase\.background: #ffcccc;
    --vscode-mergeEditor-changeBase\.word\.background: #ffa3a3;
    --vscode-mergeEditor-conflict\.unhandledUnfocused\.border: #ffa600;
    --vscode-mergeEditor-conflict\.unhandledFocused\.border: #ffa600;
    --vscode-mergeEditor-conflict\.handledUnfocused\.border: rgba(134, 134, 134, 0.29);
    --vscode-mergeEditor-conflict\.handledFocused\.border: rgba(193, 193, 193, 0.8);
    --vscode-mergeEditor-conflict\.handled\.minimapOverViewRuler: rgba(173, 172, 168, 0.93);
    --vscode-mergeEditor-conflict\.unhandled\.minimapOverViewRuler: #fcba03;
    --vscode-mergeEditor-conflictingLines\.background: rgba(255, 234, 0, 0.28);
    --vscode-mergeEditor-conflict\.input1\.background: rgba(64, 160, 43, 0.16);
    --vscode-mergeEditor-conflict\.input2\.background: rgba(30, 102, 245, 0.16);
    --vscode-terminal-ansiBlack: #5c5f77;
    --vscode-terminal-ansiRed: #d20f39;
    --vscode-terminal-ansiGreen: #40a02b;
    --vscode-terminal-ansiYellow: #df8e1d;
    --vscode-terminal-ansiBlue: #1e66f5;
    --vscode-terminal-ansiMagenta: #ea76cb;
    --vscode-terminal-ansiCyan: #179299;
    --vscode-terminal-ansiWhite: #acb0be;
    --vscode-terminal-ansiBrightBlack: #6c6f85;
    --vscode-terminal-ansiBrightRed: #de293e;
    --vscode-terminal-ansiBrightGreen: #49af3d;
    --vscode-terminal-ansiBrightYellow: #eea02d;
    --vscode-terminal-ansiBrightBlue: #456eff;
    --vscode-terminal-ansiBrightMagenta: #fe85d8;
    --vscode-terminal-ansiBrightCyan: #2d9fa8;
    --vscode-terminal-ansiBrightWhite: #bcc0cc;
    --vscode-simpleFindWidget-sashBorder: #c8c8c8;
    --vscode-terminalStickyScrollHover-background: #f0f0f0;
    --vscode-terminalCommandGuide-foreground: #ccd0da;
    --vscode-terminalSymbolIcon-flagForeground: #df8e1d;
    --vscode-terminalSymbolIcon-aliasForeground: #1e66f5;
    --vscode-terminalSymbolIcon-optionValueForeground: #df8e1d;
    --vscode-terminalSymbolIcon-methodForeground: #1e66f5;
    --vscode-terminalSymbolIcon-argumentForeground: #4c4f69;
    --vscode-terminalSymbolIcon-optionForeground: #df8e1d;
    --vscode-terminalSymbolIcon-fileForeground: #8839ef;
    --vscode-terminalSymbolIcon-folderForeground: #8839ef;
    --vscode-terminalSymbolIcon-commitForeground: #8839ef;
    --vscode-terminalSymbolIcon-branchForeground: #8839ef;
    --vscode-terminalSymbolIcon-tagForeground: #8839ef;
    --vscode-terminalSymbolIcon-stashForeground: #8839ef;
    --vscode-terminalSymbolIcon-remoteForeground: #8839ef;
    --vscode-terminalSymbolIcon-pullRequestForeground: #8839ef;
    --vscode-terminalSymbolIcon-pullRequestDoneForeground: #8839ef;
    --vscode-terminalSymbolIcon-symbolicLinkFileForeground: #8839ef;
    --vscode-terminalSymbolIcon-symbolicLinkFolderForeground: #8839ef;
    --vscode-welcomePage-tileBackground: #e6e9ef;
    --vscode-welcomePage-tileHoverBackground: #c9d0dd;
    --vscode-welcomePage-tileBorder: rgba(0, 0, 0, 0.1);
    --vscode-welcomePage-progress\.background: #dce0e8;
    --vscode-welcomePage-progress\.foreground: #8839ef;
    --vscode-walkthrough-stepTitle\.foreground: #000000;
    --vscode-walkThrough-embeddedEditorBackground: rgba(239, 241, 245, 0.3);
    --vscode-profiles-sashBorder: #acb0be;
    --vscode-gitDecoration-addedResourceForeground: #40a02b;
    --vscode-gitDecoration-modifiedResourceForeground: #df8e1d;
    --vscode-gitDecoration-deletedResourceForeground: #d20f39;
    --vscode-gitDecoration-renamedResourceForeground: #007100;
    --vscode-gitDecoration-untrackedResourceForeground: #40a02b;
    --vscode-gitDecoration-ignoredResourceForeground: #9ca0b0;
    --vscode-gitDecoration-stageModifiedResourceForeground: #df8e1d;
    --vscode-gitDecoration-stageDeletedResourceForeground: #d20f39;
    --vscode-gitDecoration-conflictingResourceForeground: #8839ef;
    --vscode-gitDecoration-submoduleResourceForeground: #1e66f5;
    --vscode-git-blame\.editorDecorationForeground: #acb0be;
    --vscode-editor-font-feature-settings: "liga" on, "calt" on;
}